#addressbook-header img {
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
#main-navbar {
  background-color: #e3f2fd;
  margin-bottom: 20px;
}
#show-contact {
  display: none;
}
#add-contact-button {
  border-radius: 2px;
  float: right;
  width: 33%;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
#name-container {
  display: flex;
  justify-content: space-between;
}
#name-container div {
  width: 49%;
}
.pointer {
  cursor: pointer;
}
#no-result-text {
  font-style: italic;
}
#add-contact-container {
  display: none;
}
#contacts-container {
  height: 100%;
  width: 100%;
  display: none;
}
#show-contact {
  display: none;
}
#contacts-list-button {
  display: none;
}
#remove-contact {
  float: right;
}
#contact-buttons button:last-of-type {
  float: right;
}
#home-container p {
  font-style: italic;
  font-weight: bold;
}
